.movieBackground2 {

    background-image: url(https://as1.ftcdn.net/v2/jpg/00/38/07/06/1000_F_38070606_WeWz073ROSctUUedYjqAPJ7ejRiuxP3J.jpg);
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 10;
    left: 0;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .movieBackground2 {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }

}