

    

.form-container{
    max-width: 500px !important;
    padding-top: 10px;
    
    .submit-button{
        margin: 10px 200px !important;
    }
};

.login-card{
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) !important;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}